@charset "UTF-8";

body {
    background-color: #efe8e8;
}

.tag {
    border-radius: 4px;
    background: #ef4e45;
    color: #fff;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

footer,
footer .wrap {
  color: #7a7a7a;
  background-color: #333; 
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  clear: both;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 1em 0 0.25em;
}

.showcase {
    border: 0.1em solid #ccc;
    padding: 0.5em;
    height: 10em;
    width: 100%;
}
